<body>

  <div class="container" style="margin-bottom: 20px">
    <br>
  <!--  <h2 style="text-align: center;">{{title}}</h2>-->
    <hr>
    <div class="card">
      <div class="card-body">


  <div class="container-fluid" style="background-color: #d5fae9; padding: 40px">
    <div class="row">
      <div class="col-6">
<!--       Replace upper div with this later <div class="col-6" *ngIf="user"></div>-->
        <div style="padding-left: 20%;">
          <!--        Ng:    [src]-->
          <img class="img-circle"
            src="../../assets/userdefault.jpg"
            width="70%"
               style="border-radius: 50%;"
          />
        </div>
<!--        <div>-->
<!--          <img-->
<!--            [src]="user.fileName"-->
<!--            width="300px"-->
<!--          />-->
<!--        </div>-->
        <div>
<!--          <input type="file" (change)="onFileChanged($event)">-->

          <input
            style="display: none; position: center"
            type="file" (change)="onFileChanged($event)"
            #fileInput>
        </div>
        <div style="padding-left: 25%">
          <button class="button" (click)="fileInput.click()" style="margin-right: 10px">Select File</button>
          <button class="button" (click)="onUpload()">Upload</button>
        </div>
      </div>
      <div class="col-6">

        <h3>My details</h3>

        <ul>
<!--          <li>Name: name</li>-->
<!--          <li>Surname: lastname</li>-->
<!--          <li>Username: username</li>-->
<!--          <li>Email: email</li>-->
<!--          <li>Phone: phone</li>-->

                  <li>Name: {{ user.firstName }}</li>
                  <li>Surname: {{ user.lastName }}</li>
                  <li>Username: {{ user.username }}</li>
                  <li>Email: {{ user.email }}</li>
                  <li>Phone: {{ user.phone }}</li>
        </ul>
      </div>
    </div>
    <div class="row">

    </div>
  </div>


<!--        <ng-container>-->
<!--          <div class="container-fluid" style="margin-top: 50px; background-color: #d5fae9; padding: 40px">-->
<!--            <h3 class="text-center" style="margin-bottom: 20px">UPCOMING APPOINTMENTS</h3>-->
<!--            <div *ngIf="appointments.length < 1">-->
<!--              <p> You don't have any upcoming appointments</p>-->
<!--            </div>-->

<!--            <div *ngIf="appointments.length >= 1">-->
<!--              <table class="table table-borderless">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                  <th scope="col">Date</th>-->
<!--                  <th scope="col">Time</th>-->
<!--                  <th scope="col">Procedure Type</th>-->
<!--                  <th scope="col">Cancel button</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr *ngFor="let appointment of appointments" style="background-color: #d5fae9; margin: 20px">-->
<!--                  <td>{{appointment.appointmentDate}}</td>-->
<!--                  <td>{{appointment.appointmentTime}}</td>-->
<!--                  <td>{{appointment.procedure.name}}</td>-->
<!--                  <td><button (click)="deleteAppointment(appointment.id)" class="button" style="margin-left: 10px">Cancel</button></td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--              </table>-->
<!--            </div>-->
<!--          </div>-->
<!--        </ng-container>-->

  <ng-container>
    <div class="container-fluid" style="margin-top: 50px; background-color: #d5fae9; padding: 40px">
      <h3 class="text-center" style="margin-bottom: 20px">MY PETS</h3>
      <div *ngIf="pets.length < 1">
        <p> You have not added any pets yet..</p>
      </div>

      <div>
        <ul class="list-unstyled">
          <li *ngFor="let pet of pets" class="media" style="padding-top: 20px; padding-bottom: 20px">
            <div style="padding-right: 20px; ">
              <img class="img-circle" src="../../assets/{{pet.fileName}}" alt="Generic placeholder image" style="max-width: 70px;">
            </div>
            <div class="media-body">
              <h5 class="mt-0 mb-1">{{pet.name}}</h5>
              <p class="mt-0 mb-1">{{pet.chipNo}}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>

              </div>
            </div>
          </div>

</body>
