
.button {
  margin-bottom: -2px;
  color: #478ac9 !important;
  border-color: #478ac9 !important;
  margin-top: 20px;
  border-radius: 50px !important;
  border-style: solid;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.65rem;
  letter-spacing: 1px;
  background-image: none;
  padding: 8px 15px;
}

.button:hover {
  border-color: #387cbd !important;
  color: #ffffff !important;
  background-color: #478ac9 !important;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 8.5rem;    /* Footer height */
}

#footer {
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8.5rem;            /* Footer height */
}

#bottom {
  position:absolute;
  bottom:0;
}

