<app-menu></app-menu>
<body>
<!--  <div class="container">-->
<!--    <br>-->
<!--  &lt;!&ndash;  <h2 style="text-align: center;">{{title}}</h2>&ndash;&gt;-->
<!--    <hr>-->
<!--    <div class="card">-->
<!--      <div class="card-body">-->
<div id="page-container">
  <div id="content-wrap">
        <router-outlet></router-outlet>
  </div>

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

    <footer class="footer bg-dark" id = "footer">
      <div class="container">
        <div class="row" style="color: #ffffff;">
          <div class="col-6">
            <span id="bottom" >Ⓒ&nbsp;All Rights Reserved 2020 Pawsome Pet Clinic</span>
          </div>
          <div class="col-6" style="text-align: right;">
            <span style="font-weight: 700; ">Contact us:</span>
            <br>Phone: +371 92734702
            <br>Email: pawsomepetclinic@pawsome.com
            <br>Address: Pawsome street 127, Magic City
            <br>
          </div>
        </div>

      </div>
    </footer>

</div>
</body>



