<div class="container" style="width: 60%; margin-bottom: 20px;" >
  <br>
  <hr>
  <div class="card">
    <div class="card-body">


<h1>Create Pet</h1>
<div [hidden]="submitted" >
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="userId">Owner Id</label>
      <input type="text" class="form-control" id="userId" required [(ngModel)]="pet.userId" name="userId">
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="pet.name" name="name">
    </div>

    <div class="form-group">
      <label for="chipNo">Microchip Number</label>
      <input type="text" class="form-control" id="chipNo" required [(ngModel)]="pet.chipNo" name="chipNo">
    </div>

    <div class="form-group">
      <label for="petBirthDate">Birthdate</label>
      <input [(ngModel)]="petBirthDate" bsDatepicker [bsConfig]="datePickerConfig" class="form-control" id="petBirthDate" name="petBirthDate" required
             type="text">
    </div>

    <div class="form-group">
      <label>Gender</label>
      <div class="form-control">
        <label class="radio-inline" style="padding-right: 10px">
          <input type="radio" name="gender" value="male" [(ngModel)]="pet.gender">
          Male
        </label>
        <label class="radio-inline">
          <input type="radio" name="gender" value="female" [(ngModel)]="pet.gender">
          Female
        </label>
      </div>
    </div>

    <div class="form-group">
      <label for="type">
        Animal Type
      </label>
      <select id="type" name="type" [(ngModel)]="pet.petTypeId" class="form-control">
        <option *ngFor="let type of types | async" [value]="type.id">
          {{type.name}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="breed">
        Breed
      </label>
      <select id="breed" name="breed" [(ngModel)]="pet.breedId" class="form-control">
        <option *ngFor="let breed of breeds | async" [value]="breed.id">

            {{breed.name}}

        </option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>

    </div>
  </div>
</div>
