<div class="container" style="width: 33%">
  <br>
  <hr>
  <div class="card">
    <div class="card-body">


<h3>Update Pet</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="pet.name" name="name">
    </div>

    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="chipNo" required [(ngModel)]="pet.chipNo" name="chipNo">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>


    </div>
  </div>
</div>

