
<div class="container">
  <br>
  <hr>
  <div class="card">
    <div class="card-body">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2>Procedures</h2>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Procedure</th>
              <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let procedure of procedures | async">
              <td>{{procedure.name}}</td>
              <td>{{procedure.price}}€</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
