<div class="container" style="width: 33%">
  <br>
  <hr>
  <div class="card">
    <div class="card-body">

<h2>Pet Details</h2>

<hr/>
<div *ngIf="pet">
  <div>
    <label><b>Name: </b></label> {{pet.name}}
  </div>
  <div>
    <label><b>Microchip number: </b></label> {{pet.chipNo}}
  </div>
  <div>
    <label *ngIf="pet.user"><b>Owner: </b></label> {{pet.user.firstName}} {{pet.user.lastName}}
  </div>
  <div>
    <label><b>Birth date:</b></label> {{pet.birthDate}}
  </div>
  <div>
    <label><b>Age:</b></label> {{pet.age}} years
  </div>
  <div>
    <label><b>Pet type:</b></label> {{pet.petType.name}}
  </div>
  <div>
    <label><b>Breed:</b></label> {{pet.breed.name}}
  </div>
  <div>
    <label><b>Gender:</b></label> {{pet.gender}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Pet List</button><br>

</div></div></div>
