<div class="container" style="width: 60%; margin-bottom: 20px;" >
  <br>
  <hr>
  <div class="card">
    <div class="card-body">


      <h1>Add Appointment</h1>
      <div [hidden]="submitted" >
        <form (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label for="appointmentDate">Date</label>
            <input [(ngModel)]="appointmentDate" bsDatepicker [bsConfig]="datePickerConfig" class="form-control" id="appointmentDate" name="appointmentDate" required
                   type="text">
          </div>

          <div class="form-group">
            <label for="appointmentTime">
              Time
            </label>
            <select id="appointmentTime" name="appointmentTime" [(ngModel)]="appointment.appointmentTime" class="form-control">
              <option *ngFor="let appointmentTime of appointmentTimes" [value]="appointmentTime.time">
                {{appointmentTime.time}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="procedureId">
              Procedure Type
            </label>
            <select id="procedureId" name="procedureId" [(ngModel)]="appointment.procedureId" class="form-control">
              <option *ngFor="let procedure of procedures | async" [value]="procedure.id">
                {{procedure.name}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="procedureId">
              Pet Name
            </label>
            <select id="petName" name="petName" [(ngModel)]="appointment.petName" class="form-control">
              <option *ngFor="let pet of pets" [value]="pet.name">
                {{pet.name}}
              </option>
            </select>
          </div>

          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>

      <div [hidden]="!submitted">
        <h4>You submitted successfully!</h4>
      </div>

    </div>
  </div>
</div>
