.bgimg {
  background-image: url('src/assets/running_doggos.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 25%;
  padding-bottom: 4%;

}

.whyus {
  background-image: url('src/assets/whyus.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 50%; /* (img-height / img-width * container-width) */
  /* (853 / 1280 * 100) */
}

