<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
</head>

<body>
<div class="container-fluid" style="background-color: #d5fae9; padding: 40px">
  <div class="row">

    <div class="col-6" style="padding-top: 10px">

      <img
        src="../../assets/HomeTitle.png"
        width="90%"
      />
      <h3 style="width: 70%; padding-left: 10%; padding-top: 10px; font-family:Comfortaa; font-size: 2vw">The best care for your very best friends</h3>

    </div>

    <div class="col-6">
      <!--       Replace upper div with this later <div class="col-6" *ngIf="user"></div>-->
      <div>
        <!--        Ng:    [src]-->
        <img
          src="../../assets/web_homepage.jpg"
          width="90%"
        />
      </div>
    </div>

  </div>
  <div class="row">

  </div>
</div>

<div class="whyus"></div>

<div class="container-fluid bgimg " style="margin-bttom: -12px; font-family:Comfortaa; color: white;">
  <div style="padding-left: 10%; padding-right: 10%; text-align: center; vertical-align: middle;">
    <h1 style="text-align: right; font-size: 4vw; padding-bottom: 20px;">PET MANAGEMENT SYSTEM</h1>
    <p style="text-align: right; font-size: 1.5vw;" >In addition to a wide range of medical care services, we also offer
      you to create an account in our pet
      management system where you can conveniently register your pets and keep track of all of their medical
      records so that you know exactly where to look when
      it feels like the time for your pet's yearly vaccination or other recurring procedures might be coming up.
      You can add the records manually even if they've been performed outside of our clinic but the procedures
      that have been done in our clinic will be added automatically.
      To create an account or access your existing account in our medical record system,
      click on the Register or Login button at the top of the page.</p>
  </div>
</div>

</body>

