<div class="container">
  <br>
  <hr>
  <div class="card">
    <div class="card-body">

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Pet List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>ChipNo</th>
        <th>Owner</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pet of pets | async">
        <td>{{pet.name}}</td>
        <td>{{pet.chipNo}}</td>
        <td *ngIf="pet.user">{{pet.user.firstName}} {{pet.user.lastName}}</td>
        <td *ngIf="!pet.user"></td>
<!--        <td>{{pet.user}}</td>-->
        <td><button (click)="updatePet(pet.id)" class="button">Update</button>
          <button (click)="deletePet(pet.id)" class="button" style="margin-left: 10px">Delete</button>
          <button (click)="petDetails(pet.id)" class="button" style="margin-left: 10px">Details</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

            </div>
          </div>
        </div>
