<div class="container">
  <br>
  <hr>
  <div class="card">
    <div class="card-body">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>User List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users | async">
        <td>{{user.id}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td><button (click)="updateUser(user.id)" class="button">Update</button>
          <button (click)="deleteUser(user.id)" class="button" style="margin-left: 10px">Delete</button>
          <button (click)="userDetails(user.id)" class="button" style="margin-left: 10px">Details</button>
          <button (click)="createPet(user.id)" class="button" style="margin-left: 10px">Add pet</button>
          <button (click)="createAppointment(user.id)" class="button" style="margin-left: 10px">Add Appointment</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
            </div>
          </div>
        </div>
