<div class="container" style="width: 50%">
  <br>
  <hr>
  <div class="card">
    <div class="card-body">


<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
      <div *ngIf="f.firstName.errors.required">First Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
      <div *ngIf="f.lastName.errors.required">Last Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Username is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
      <div *ngIf="f.password.errors.minlength">Password must be at least 4 characters</div>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="phone">Phone number</label>
    <input type="phone" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
      <div *ngIf="f.phone.errors.required">Phone number is required</div>
      <div *ngIf="f.phone.errors.minlength || f.phone.errors.maxlength">Phone number must consist of 8 numbers</div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="button">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Register
    </button>
    <a routerLink="/login" class="btn btn-link" style="color: #478ac9">Cancel</a>
  </div>
</form>


    </div>
  </div>
</div>


<!--<h2>Register</h2>-->
<!--<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">-->
<!--  <div class="form-group">-->
<!--    <label for="firstName">First Name</label>-->
<!--    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />-->
<!--    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">-->
<!--      <div *ngIf="f.firstName.errors.required">First Name is required</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label for="lastName">Last Name</label>-->
<!--    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />-->
<!--    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">-->
<!--      <div *ngIf="f.lastName.errors.required">Last Name is required</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label for="username">Username</label>-->
<!--    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />-->
<!--    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">-->
<!--      <div *ngIf="f.username.errors.required">Username is required</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label for="password">Password</label>-->
<!--    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />-->
<!--    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">-->
<!--      <div *ngIf="f.password.errors.required">Password is required</div>-->
<!--      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <button [disabled]="loading" class="btn btn-primary">-->
<!--      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>-->
<!--      Register-->
<!--    </button>-->
<!--    <a routerLink="/login" class="btn btn-link">Cancel</a>-->
<!--  </div>-->
<!--</form>-->
